.example-card {
    max-width: 800px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .inscritos-header-image {
    background-image: url('../../../assets/img/students2.png');
    background-size: cover;
  }

  .egresados-header-image {
    background-image: url('../../../assets/img/egresados.png');
    background-size: cover;
  }

  .status-header-image {
    background-image: url('../../../assets/img/status.png');
    background-size: cover;
  }

  .califpar-header-image {
    background-image: url('../../../assets/img/calificaciones.png');
    background-size: cover;
  }

  .califext-header-image {
    background-image: url('../../../assets/img/extras.png');
    background-size: cover;
  }