<mat-form-field>
    <mat-select placeholder="Selecciona el Proceso" (change)=onSelectedProceso($event.value)>
      <mat-option value="Matrícula Inscrita">Matrícula Inscrita</mat-option>      
      <mat-option value="Calificaciones Parciales">Calificaciones Parciales</mat-option>  
      <mat-option value="Calificaciones Extraordinarias">Calificaciones Extraordinarias</mat-option>  
      <mat-option value="Actualización de Estatus">Actualización de Estatus</mat-option>  
      <mat-option value="Egresados">Egresados</mat-option>  
    </mat-select>
  </mat-form-field>